@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  margin: 1.5em;
  font-family: "Poppins", sans-serif;
  background: #111317;
  color: #fff;

  .hero-img {
    width: 100%;
    height: 100vh;
    background: url(body.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-position-x: 20%;
    background-position-y: 20%;
    z-index: -1;
    animation: Bellaintroload 3s forwards;
  }

  header {
    display: flex;
    justify-content: space-between;

    .logo {
      color: #8a4fff;
      font-size: 2rem;
      span {
        color: #f2f2f2;
      }
    }

    nav {
      position: fixed;
      background-color: white;
      right: 0;
      top: 0;
      height: 100vh;
      width: 50%;
      z-index: 999;
      transform: translateX(100%);
      transition: transform 0.5s ease-in-out;

      .close {
        float: right;
        margin: 2em;
      }

      ul {
        padding: 0;
        margin-top: 8em;

        a {
          padding: 0.75em 2em;
          display: block;
          color: #111317;
          font-weight: 400;

          &:hover {
            background: #8a4fff;
            color: #fff;
          }
        }
      }
    }
  }

  .hero {
    img {
      // max-width: 55vh;
      display: block;
      margin: 0 auto;
      width: 45vh;
    }

    h1 {
      text-transform: uppercase;
      font-size: 3rem;

      span {
        color: #8a4fff;
      }
    }
    p {
      font-size: 0.9rem;
      line-height: 200%;
      text-align: justify;
      letter-spacing: 1px;
    }

    button {
      background: #8a4fff;
      padding: 1em 4em;
      border: none;
      border-radius: 5px;
      font-size: 1.2rem;
      color: #fff;
      cursor: pointer;
      margin-bottom: 3em;

      &:hover {
        background: #fff;
        color: #8a4fff;
        letter-spacing: 1.5px;
      }
    }
  }

  svg {
    width: 2.3em;
    //margin-top: -0.7em;
    cursor: pointer;
  }

  .open-nav {
    transform: translateX(0);
  }

  .program-section {
    h1 {
      text-transform: uppercase;
      font-size: 2.5rem;
      text-align: center;
      color: #8a4fff;
    }

    .program-card {
      margin-bottom: 5em;
      img {
        width: 50px;
      }

      .physical-fitness,
      .strength {
        //border: 2px solid #8a4fff;
        margin-top: 20px;
        background: #000000;
        padding: 1.5em;
        border-radius: 15px;

        &:hover {
          border: 1px solid #8a4fff;
        }

        button {
          background: #8a4fff;
          border: none;
          font-size: 1.1rem;
          padding: 0.5em 1em;
          color: #fff;
          cursor: pointer;

          &:hover {
            background: #fff;
            color: #8a4fff;
            letter-spacing: 1.5px;
          }
        }
      }
    }
  }

  .pricing-section {
    h1 {
      text-transform: uppercase;
      font-size: 2.5rem;
      text-align: center;
      color: #8a4fff;
    }

    p {
      font-size: 1rem;
      line-height: 200%;
      letter-spacing: 1px;
    }
    .pricing-card {
      img {
        width: 25px;
      }
    }

    .basic-plan {
      margin-top: 20px;
      background: #000000;
      padding: 1.5em;
      border-radius: 15px;

      &:hover {
        border: 2px solid #8a4fff;
      }

      h3 {
        margin-top: 5em;
        font-weight: 100;
      }
      .price {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: -0.5em;
      }

      .join-now {
        border: 2px solid #8a4fff;
        text-align: center;
        padding: 1em;
      }
    }

    .plan-image {
      display: flex;
      gap: 15px;
    }
  }

  .about-section {
    img {
      width: 45vh;
    }

    h1 {
      text-transform: uppercase;
      font-size: 2.5rem;
      text-align: center;
      color: #8a4fff;
    }

    .image-flex {
      img {
        width: 35px;
      }

      .personal-trainer {
        display: flex;
        gap: 25px;
      }
    }
  }

  .review-section {
    h1 {
      text-transform: uppercase;
      text-align: center;
      color: #8a4fff;
      font-size: 2rem;
    }
    svg {
      //display: flex;
      width: 35px;
    }

    h2 {
      font-size: 1.5rem;
      text-transform: capitalize;
    }

    .review-card {
      .first-review {
        margin-bottom: 2em;
        border: 2px solid #f2f2f2;
        border-radius: 20px;
        padding: 2em;

        &:hover {
          border: 2px solid #8a4fff;
        }
      }
    }

    .text {
      font-size: 1.2rem;
    }
  }

  .footer {
    background: #000000;
    padding: 0.5em;

    .footer-card {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .footer-col {
      .logo {
        color: #8a4fff;
        font-size: 1.4rem;
        span {
          color: #f2f2f2;
        }
      }

      p {
        font-size: 1.1rem;
        padding: 0.5rem;
        letter-spacing: 0.001px;
        //line-height: 110%;
      }

      .socials {
        display: block;
        margin: 0 auto;
        padding: 1.3em;

        svg {
          width: 35px;
          a:hover {
            //color: #ffffff;
          }
        }
      }
    }

    .title {
      font-size: 1.3rem;
    }

    li {
      padding: 0.3rem;
      a {
        color: #ffffff;
        &:hover {
          color: #8a4fff;
        }
      }
    }

    .footer-bar {
      font-size: 0.9rem;
      text-align: center;

      span {
        color: #8a4fff;
      }
    }
  }
}

@media only screen and (min-width: 680px) {
  body {
    margin: 1.5em 3em;

    .hero-img {
      width: 100%;
      height: 63vh;
      background: url(body.jpg);
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      background-position-x: 20%;
      background-position-y: 20%;
      z-index: -1;
      animation: Bellaintroload 3s forwards;
    }

    section.hero {
      h1 {
        font-size: 3.9rem;
        margin-top: 1.5em;
        line-height: 3.3rem;
      }

      p {
        margin-top: 3em;
        color: #ffffff;
        font-weight: 700;
      }
    }

    .about-section {
      .about-img {
        display: block;
        margin: 0 auto;
        width: 55vh;
      }
    }

    header {
      display: flex;
      justify-content: space-between;

      .logo {
        color: #8a4fff;
        font-size: 2.4rem;
        span {
          color: #f2f2f2;
        }
      }

      nav {
        position: fixed;
        background-color: white;
        right: 0;
        top: 0;
        height: 100vh;
        width: 50%;
        z-index: 999;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;

        .close {
          float: right;
          margin: 2em;
        }

        ul {
          padding: 0;
          margin-top: 8em;

          a {
            padding: 1.85em 2.5em;
            display: block;
            color: #111317;
            font-weight: 500;
            font-size: 1.45rem;

            &:hover {
              background: #8a4fff;
              color: #fff;
            }
          }
        }
      }
    }

    .program-section {
      margin-top: 7em;
      h1 {
        padding: 0.2em;
        margin: 0.5em;
      }

      .program-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
        //padding: 3em;

        .strength,
        .physical-fitness {
          border: 2px solid#fff;
          padding: 4em;
        }
      }
    }
  }
}

@media only screen and (min-width: 920px) {
  body {
    margin: 0;

    .hero-img {
      //background: url(body.jpg);
      width: 50%;
      height: 100%;
      right: 0;
      left: unset;
      width: 42em;
    }

    .menu,
    .close {
      display: none;
    }

    header {
      padding: 10px;

      .logo {
        margin-top: 15px;
        margin-left: 2em;
        font-size: 1.5em;
      }

      nav {
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;

        ul {
          display: flex;
          margin: 0;

          a {
            color: #fff;
            padding: 5em, 1.5em;
            font-size: 1em;

            &:hover {
              background: none;
              text-decoration: underline;
            }
          }

          .btn {
            background: #8a4fff;
            // padding: 0.8em;
            padding: 1em 2em;
            margin: 1em;
            border-radius: 15px;

            &:hover {
              background: #fff;
              color: #8a4fff;
              text-decoration: none;
            }
          }
        }
      }
    }

    .hero {
      height: auto;
      width: 40%;
      margin-top: -4.7em;
      padding: 3em;

      h1 {
        font-size: 6em;
        margin-top: 5em;
        line-height: 3.3rem;
      }

      .hero-paragraph {
        color: #ffffff;
      }
    }

    .program-section {
      h1 {
        padding: 0.5em;
      }

      .program-card {
        display: flex;
        justify-content: space-between;
        gap: 2em;
        padding: 1em;

        .strength,
        .physical-fitness {
          border: 2px solid#fff;
        }
      }
    }

    .pricing-section {
      h1 {
        padding: 1em;
      }
      background: #000000;
      p.subhead {
        text-align: center;
        font-size: 1.5rem;
      }

      .pricing-card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 3em;
        gap: 2em;
        text-align: center;
        .basic-plan {
          border: 2px solid #fff;
        }
      }
    }

    .about-section {
      // background: #000000;

      img {
        width: 10vh;
        height: 10vh;
      }

      h1 {
        padding: 0.5em;
      }
      p.subhead {
        text-align: center;
        font-size: 1.5rem;
        padding: 0.5em;
      }

      .about-img {
        width: 50%;
        height: 100%;
        position: relative;
      }

      .image-card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;
        background: #111317;
        border: 2px solid #ffffff;
        //border-radius: 20px;
        color: #ffffff;
        padding: 0.2em;
        margin: 3em;
        position: absolute;
        //top: 3px;
        //bottom: 50px;
        left: 10px;
        bottom: -2700px;
        //right: 50px;

        &:hover {
          border: 2px solid #8a4fff;
        }
      }
    }

    .review-section {
      margin-top: 19em;
      margin-bottom: 10em;
      //background: #000000;
      .review-card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        padding: 3em;

        .first-review {
          border: 2px solid #ffffff;
          border-radius: 12px;
          padding: 1em;
          text-align: center;

          &:hover {
            background: #8a4fff;
            border: none;
            color: #000000;
            font-weight: 500;
          }
        }

        svg {
          path {
            fill: #fff;
          }
        }
      }
    }

    .footer {
      padding: 2.3em;
      .footer-card {
        //display: flex;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }

      .footer-bar {
        p {
          font-size: 1.5rem;
        }
      }
    }
  }
}
